/*! Utility classes */
.u{
  &-middle-block{
    display: block;
    margin: 0 auto;
  }
  &-fullwidth{ width: 100%; }
  &-inline-block{ display: inline-block; }
  &-invisible{ visibility: hidden; }
  &-ghost{ display: none; }
  &-ir{
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
    &::before{
      content: "";
      display: block;
      width: 0;
      height: 150%;
    }
  }
  &-visuallyhidden{
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    &.focusable:active, &.focusable:focus{
      clip: auto;
      height: auto;
      margin: 0;
      overflow: visible;
      position: static;
      width: auto;
    }
  }
}
